
<div class="container">

  <div class="text-center">
    <img src="..." class="rounded" alt="...">
  </div>

  <blockquote class="blockquote">
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>

    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
  </blockquote>

  <h2>Books to Read</h2>
  <ul>
    {{#each books}}
      {{#unless read}}
        {{Books}}
      {{/unless}}
    {{/each}}
  </ul>

  <h2>Books Read</h2>
  <ul>
    {{#each books}}
      {{#if read}}
        {{Books}}
      {{/if}}
    {{/each}}
  </ul>

  <h2>Add a Book</h2>
  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Book Name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Author">
      </div>
    </div>
  </form>

  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline1">To Read
    </label>
  </div>
  
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline2">Read
    </label>
  </div>

  <button type="button" class="btn btn-secondary btn-lg">Submit</button>

</div>
