
<div class="container">

<header class="my-header">
  <div class="text-center">
    <h3>📚📖📚</h3>
  </div>
</header>

  <blockquote class="blockquote my-block-quote">
    <p class="mb-0 text-center">If we encounter a man of rare intellect, we should ask him what books he reads.</p>

    <footer class="blockquote-footer text-right">Ralph Waldo Emerson</footer>
  </blockquote>

  <div class="row">
    <div class="col book-cols">
      <h2 class="text-center my-category-styles">Books to Read</h2>
      <ul>
        {{#each books}}
        <!-- false-y -->
          {{#unless read_status}}
            {{> books/update-read-status}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col book-cols">
      <h2 class="text-center my-category-styles">Books Read</h2>
      <ul>
        {{#each books}}
        <!-- truth-y -->
          {{#if read_status}}
            <li class="book-list-style">
              <span class="fas fa-book"></span>
              {{book_name}} by {{book_author}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h2 class="text-center">Add a Book</h2>
    </div>
  </div>
  <div>
    <form>
      <div class="row form-padding">
        <div class="col">
          <label for="book">Book Name</label>
          <input type="text" id="book" name="name" class="form-control new-book-name" placeholder="E.g. Milk and Honey">
        </div>
        <div class="col">
          <label for="author">Author</label>
          <input type="text" id="author new-author-name" name="author" class="form-control new-author-name" placeholder="E.g. Rupi Kaur">
        </div>
      </div>
    </form>
  </div>

<form>
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input not-read" value="0">
        <label class="custom-control-label" for="customRadioInline1">To Read
        </label>
      </div>
    </div>

    <div class="col-md-6 text-center">
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input has-read" value="1">
        <label class="custom-control-label" for="customRadioInline2">Read
        </label>
      </div>
    </div>
  </div>
</form>

  <div class="row submit-styles text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-secondary btn-lg submit-btn">Submit</button>
    </div>
    <div class="col-md-4">
    </div>
  </div>

  <footer class="footer-styles">
    <div class="row">

    </div>
  </footer>

</div>
