.my-header {
  padding-top: 2em;
}

.book-cols {
  padding-bottom: 2em;
}

.my-block-quote {
  padding-top: 2em;
  padding-bottom: 2em;
}

.form-padding {
  padding-top: 3em;
  padding-bottom: 3em;
}

.radio-padding {
  padding-left: 10em;
}

.submit-styles {
  padding-top: 3em;
}

.footer-styles {
  padding-top: 2em;
  padding-bottom: 2em;
}

.book-list-style {
  list-style-type: none;
  margin-bottom: 1em;
}

.finished-reading-btn {
  background-color: lightgray;
  margin-left: 2em;
}

.finished-reading-btn p {
  margin-bottom: 0;
  font-size: 12px;
}

.my-category-styles {
  margin-bottom: 1em;
}
