<li class="book-list-style">
  <span class="fas fa-book"></span>

  {{book_name}} by {{book_author}}

  <button type="button" class="read-again" data-id="{{id}}" data-read-status="{{read_status}}">
    <p>Read Again</p>
  </button>

</li>
