<!-- <form action="thingamajig.js"> </form> -->

<button type="button" class="finished-reading-btn change-read-status" data-id="{{this.id}}" data-read-status="{{read_status}}">
  <p>Finished Reading</p>
</button>
